version: "3.8"

services:
  backend-flask:
    build:
      context: ./backend-flask
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./backend-flask:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend-react
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://35.176.247.144:4000
    ports:
      - "80:80"
    depends_on:
      - backend-flask
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
